<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://img.icons8.com/office/16/000000/pokedex.png" type="image/x-icon">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Pokédex</title>
</head>
<body class="bg-blue-300 flex flex-col m-3">
    <header class="flex justify-center mx-4 mt-6 mb-2">
        <form action="#" method="get">
            <label>
                <img class="inline-block" src="images/pokeball.svg" width="24px" height="24px" alt="Pokeball">
                <input class="shadow leading-tight  appearance-none border rounded-full p-2 focus:outline-none focus:shadow-outline" type="search" name="searchPokemon" id="searchPokemon" placeholder="Id or name">
            </label>
        </form>
    </header>
    
    <main class="border-t border-red-600 flex flex-col justify-center">
        <div class="text-3xl capitalize text-center my-3">
            <%= stats.name %>
        </div>

        <div class="self-center m-4">
            <img src="<%= stats.sprites.front_default %>" />
        </div>

        <div class="bg-gray-200 border border-black rounded-lg m-2 p-2">
            <%= species.description %>
        </div>
        
        <div class="bg-gray-200 capitalize border border-black rounded-lg m-2 p-2">
            <div>
                Types:
                <% stats.types.forEach(type => { %>
                    <%= type %>
                <% }) %>
            </div>
        </div>
    </main>

    <footer class="text-lg flex justify-between mx-2 mt-10">
        <a class="button border border-red-500 rounded-md p-2" href="/<%= id - 1 %>">
            Previous
        </a>

        <a class="button border border-red-500 rounded-md p-2" href="/<%= id + 1 %>">
            Next
        </a>
    </footer>
</body>
</html>